body{
    overflow-x: hidden;
    }

    body::-webkit-scrollbar {
        width: 6px;               /* ширина scrollbar */
      }
      body::-webkit-scrollbar-track {
        background: none       /* цвет дорожки */
      }
      body::-webkit-scrollbar-thumb {
        background-color: rgb(0, 0, 0);    /* цвет плашки */
        border-radius: 20px;       /* закругления плашки */
        border: none  /* padding вокруг плашки */
      }
    
    
    .back{
        z-index: 1;
        position: absolute;
        width: 100%;
        margin-left: -1%;
        margin-top: -1%;
    }
    
    .back1{
        position: absolute;
        width: 101%;
    }
    
    
    .navbar{
        position: absolute;
        z-index: 2;
        margin-left: 2%;
        margin-top: 0.5%;
        backdrop-filter: blur(10px);
    }
    
    .menu{
        box-shadow: 0px 2px 10px -2px;
    border-radius: 14px;
    position: absolute;
    width: 94vw;
    height: 3.4vw;
    opacity: 0.5;
    background-color: rgb(255, 255, 255);
        
    }
    
    .logo{
        position: absolute;
    z-index: 3;
    width: 17%;
    margin-top: -0.1%;
    margin-left: 3%;
    }
    

    
    #contacts{
        position: absolute;
        font-family: 'Roboto';
        z-index: 3;
        font-size: 1.1vw;
        margin-left: 91%;
        margin-top: 1.5%;
    }

    .line{
        position: absolute;
        z-index: 3;
        margin-left: 91.1%;
        margin-top: 2.8%;
        width: 5%;
        
    }
    
    .line_1{
        position: absolute;
        z-index: 3;
        width: 78%;
    }

    .contacts_w{
        z-index: 3;
        box-shadow: 0px 2px 10px -2px;
    border-radius: 14px;
    position: absolute;
    width: 32vw;
    height: 11.6vw;
    opacity: 0.5;
    margin-top: 7%;
    margin-left: 2%;
    background-color: rgb(255, 255, 255);
    }

    .contacts_text{
        position: absolute;
        z-index: 3;
    font-family: 'Roboto';
    font-size: 1.1vw;
    margin-left: 3%;
    margin-top: 8%;
    font-weight: bold;
    }

    .line_2{
        position: absolute;
        z-index: 3;
        margin-top: 12%;
        margin-left: 54%;
    }

    .logo_2{
        position: absolute;
        z-index: 3;
        margin-top: 48%;
        margin-left: 2%;
    }